name: Delete old workflow runs
permissions:
    actions: write
on:
    schedule:
        - cron: "0 0 * * 0"
# Run weekly, at 00:00 every Sunday.

jobs:
    del_runs:
        runs-on: ubuntu-latest
        steps:
            - name: Delete workflow runs
              uses: Mattraks/delete-workflow-runs@v2
              with:
                  token: ${{ github.token }}
                  repository: ${{ github.repository }}
                  retain_days: 30
                  keep_minimum_runs: 6
